<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Singapore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<nav th:insert="~{/fragments/dashboard :: nav}"></nav>

<div class="container">
    <h1 style="margin-top:1.2cm; margin-bottom:1cm">
        Miasta w Polsce
    </h1>
    <p>Aby dodać swoje miasto kliknij nastepujący przycisk: <a th:href="@{/city}"class="btn btn-primary">Dodaj miasto</a></p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        <div th:each="city: ${cities}" class="col mb-4">
            <div class="card">
                <img th:src="${images.get(city.images.get(0)).url}" class="card-img-top" alt="card" width="390"
                     height="150">
                <div class="card-body">
                    <h5 th:text="${city.name}" class="card-title"></h5>
                    <a th:href="@{/city/details(id=${city.id})}" class="btn btn-primary"> detale </a>
                    <a th:href="@{/city/edit-city/{id}(id=${city.id})}"  class="btn btn-primary"> Edytuj</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous">
</script>

</body>
</html>