<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Singapore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<nav th:insert="~{/fragments/dashboard :: nav}"></nav>

<h1 style="margin-top:1.2cm; margin-bottom:1cm">
</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" th:src="${images.get(0).url}" alt="Start Slideshow">
                            </div>
                            <div class="carousel-item" th:each="image : ${images}">
                                <img class="d-block w-100" th:src="${image.url}">
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <h2 class="card-title" th:text="${city.name}"></h2>
                    <p class="card-text" th:text="${city.description}"/>
                    <p class="card-text">Ocena:
                    </p>
                    <button onclick="goBack()">Powrót</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="form-floating">
                        <p>Formularz opinii</p>
                        <!--                        <div th:insert="opinionForm"></div>-->
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">POGODA</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <div>
                                    <div id="openweathermap-widget-22"></div>
                                    <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
                                    window.myWidgetParam.push({id: 22,cityid: '7531926',appid: '2d4f83a0e00c8dd54b72e3d391eeb12e',units: 'metric',containerid: 'openweathermap-widget-22',  });
                                    (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";
                                        cript.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
                                        var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);
                                    })();</script>

                                    <p class="card-text" th:text="${weather.id}"/>
                                    <p class="card-text" th:text="${weather.temp}"/>
                                    <p class="card-text" th:text="${weather.humidity}"/>
                                    <p class="card-text" th:text="${weather.pressure}"/>
                                </div>
                                <div>
                                    <!-- weather widget start -->
                                    <div id="m-booked-vertical-one-prime-89099">
                                        <div class="weather-customize weather-booked-vertical-one-prime" style="width:253px;" >
                                            <div class="booked-vertical-prime-in"> <div class="booked-vertical-prime">
                                                <div class="bwop-city">Warszawa</div>
                                                <div class="bwop-icon wm06 "></div>
                                                <div class="booked-bwop-today"> <div class="booked-bwop-today-temperature">
                                                    <div class="booked-wzs-bwop-val"> <div class="booked-bwop-number"><span class="plus">+
                                                        </span>23</div> <div class="booked-bwop-dergee">
                                                        <div class="booked-wzs-bwop-dergee-val">&deg;</div>
                                                        <div class="booked-wzs-bwop-dergee-name">C</div>
                                                     </div> </div> </div> <div class="booked-bwop-today-extreme">
                                                        <div class="booked-bwop booked-pd-h">
                                                        <span>Max.:</span>
                                                        <span class="plus">+
                                                         </span>26</div>
                                                    <div class="booked-bwop booked-pd-l">
                                                        <span>Min.:</span><span class="plus">+
                                                    </span>14</div>
                                                </div> </div> <div class="bwop-state"> Zachmurzenie duże </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- weather widget end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-12">
                <div class="card-header">Opinie:</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-floating">
                                <!--                                <div th:insert="opinionDetails"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.go(-1);
    }
</script>
<div id="openweathermap-widget-12"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous">
</script>
</body>
</html>