<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Singapore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<nav th:insert="~{/fragments/dashboard :: nav}"></nav>
<div class="form-floating">
    <div>
        <table>
            <h2 th:text="${place.name}"></h2>
            <div><span>Opis: <span><span th:text="${place.description}"> </span></span></span></div>
            <div><span>Ocena: <span><span th:text="${place.rate}"> </span>/5</span></span></div>
            <div>
                <span th:if="${place.price==0}"></span>
                <span th:unless="${place.price==0}"><span>Cena: <span><span
                        th:text="${place.price}"></span> zł </span></span></span>
            </div>
        </table>
    </div>
</div>
<div class="form-floating">
    <div th:insert="opinions"></div>
</div>
<div class="form-floating">
    <div th:insert="opinionForm"></div>
</div>
</body>
</html>