<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <title>Singapore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
<nav th:insert="~{/fragments/dashboard :: nav}"></nav>
<div class="container">
    <h2> LISTA ATRAKCJI </h2>
    <span><a href="/places/topRate" value="button" class="btn btn-secondary"> Najlepiej Oceniane </a></span>
    <span><a href="/places/mostPopular" value="button" class="btn btn-primary"> Najbardziej Popularne </a></span>
    <table class="table table-striped" id="sortTable"></span>
        <thead>
        <tr>
<!--            <th>#</th>-->
            <th th:text="#{place.name}"></th>
            <th th:text="#{place.city}"></th>
            <th th:text="#{place.rate}"></th>
            <th th:text="#{place.opinionQuantity}"></th>
            <th th:text="#{place.type}"></th>
            <th th:text="#{place.info}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="place,iterStat: ${places}">
<!--            <td th:text="${iterStat.count}"/>-->
            <td th:text="${place.name}"/>
            <td th:text="${place.city.name}"/>
            <td th:text="${place.rate}"/>
            <td th:text="${place.getOpinions().size()}"/>
            <td th:text="${place.type}"/>
            <td> <img th:src="${image.findImageById(place.getImages.get(0)).url}" class="card-img-top" alt="zdjęcie miasta">
            </td>
            <td><a th:href="@{/place/{placeId}(placeId=${place.id})}" value="button"> Detale </a></td>   <!-- TODO dodanie przycisku z ilością opinii do wyświetlenia-->
        </tr>
        </tbody>
    </table>
</div>
<script>
    $('#sortTable').DataTable();
</script>

<div class="col-12">
    <a th:href="@{/places}">Dodaj miejsce</a>
</div>

</body>
</html>