<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Singapore</title>

    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<nav th:replace="~{/fragments/dashboard :: nav}"></nav>
<form action="#" th:action="@{/tripgenerate}" th:object="${tgc}" method="post">

<div class="container">
        <div class="mt-4 mb-3">
            <h1>Generator wycieczek</h1>
            <a class="btn btn-primary" th:href="@{/trips}">← Powrót </a>
        </div>
    <div class="mb-3">
        <label for="cities" class="form-label">Wybierz miasto</label>
        <select  class="form-control selectpicker" th:field="*{city}" id="cities" >
            <option th:each="city: ${cities}"
                    th:value="${city.id}"
                    th:text="${city.name}"/>
        </select>
    </div>

    <div class="col-md-6">
        <label for="Textarea" class="form-label">Podaj ilość punktów wycieczki:</label>
        <input type="text" class="form-control" id="Textarea" required th:field="*{numberOfStops}"/>
    </div>

    <div class="col-md-6">
        <label for="Textarea1" class="form-label">Podaj czas trwania wycieczki w dniach:</label>
        <input type="text" class="form-control" id="Textarea1" required th:field="*{timeToGo}"/>
    </div>

    <div class="col-md-6">
        <p><input class="btn btn-primary" type="submit" value="Generuj"/></p>
    </div>

</div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous">
</script>
</body>
</html>