<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Singapore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<nav th:replace="fragments/dashboard.html :: nav"></nav>

<div class="container">
    <div class="row ">
        <div class="mt-4 mb-3">
            <h1>Lista wycieczek</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-12">
            <a th:href="@{/trips/new}" class="btn btn-primary" value="button"> dodaj nową  </a>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">ACTION</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="trip,iterStat: ${trips}">
                    <td th:text="${trip.id}"/>
                    <td th:text="${trip.name}"/>
                    <td><a th:href="@{/trips/{tripId}/edit(tripId=${trip.id})}" class="btn" value="button"> edycja </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous">
</script>
</body>
</html>